html {
  font-family: Helvetica, sans-serif;
  background-color: #222225;
  color: #ddddc5;

  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 100px;
}

.ship-card {
  width: 200px;

  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.ship-icon {
  position: relative;

}

.ship-icon img {
  width: 100%;
  display: block;
  height: 100%;
}

.ship-icon .ship-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin: 0;
  padding: 5px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.2);
}

.ship-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

.ship-icon.tech-1.meta-0::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-1.png) top left no-repeat;
}

.ship-icon.tech-2.meta-5::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-2.png) top left no-repeat;
}

.ship-icon.tech-3.meta-5::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-3.png) top left no-repeat;
}

.ship-icon.meta-9::after,
.ship-icon.meta-8::after,
.ship-icon.meta-7::after,
.ship-icon.meta-6::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/faction.png) top left no-repeat;
}


.stat-list {
  list-style: none;
  margin: 0;
  padding: 4px;
}

.stat-list .stat-item {
  display: block;
  margin: 0;
  padding: 0 0 8px;
}
.stat-list .stat-item .label {
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/img/icons/unknown.png);

  height: 32px;
  width: 32px;
  vertical-align: middle;;
}

.stat-list .stat-item .value {
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 4px;
}

.stat-item.power-grid .label {
  background-image: url(/img/icons/power-output.png);
}
.stat-item.cpu .label {
  background-image: url(/img/icons/cpu.png);
}
.stat-item.signature .label {
  background-image: url(/img/icons/signature-radius.png);
}
.stat-item.agility .label {
  background-image: url(/img/icons/agility.png);
}
.stat-item.velocity .label {
  background-image: url(/img/icons/max-velocity.png);
}


#ship-picker {
  margin: 50px auto 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 150%;
  background-color: #444448;
  padding: 12px;
  border: 0;
  color: #fff;
}

#ship-picker:focus {
  outline: 2px solid #ddddc5;
}

#ship-picker::-webkit-input-placeholder {
  color: #ddddc5;
}