html {
  font: 16px/20px Helvetica, sans-serif;
  background-color: #222225;
  color: #ddddc5;

  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 100px;
}

.ship-card {
  width: 300px;

  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.ship-card .ship-icon img {
  width: 280px;
  height: 280px;
}

.ship-card:nth-child(4n+1) {
    display: block;
    clear: both;
}

.ship-icon {
  position: relative;

}

.ship-icon img {
  width: 100%;
  display: block;
  height: 100%;
}

.ship-icon .ship-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin: 0;
  padding: 5px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.2);
}

.ship-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

.ship-icon.tech-1.meta-0::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-1.png) top left no-repeat;
}

.ship-icon.tech-2.meta-5::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-2.png) top left no-repeat;
}

.ship-icon.tech-3.meta-5::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/tech-3.png) top left no-repeat;
}

.ship-icon.meta-9::after,
.ship-icon.meta-8::after,
.ship-icon.meta-7::after,
.ship-icon.meta-6::after {
  display: block;
  background: url(http://s3.amazonaws.com/eve-ship-comparator/img/badges/faction.png) top left no-repeat;
}


.stat-list {
  list-style: none;
  margin: 0;
  padding: 4px;
  font-size: 75%;
  font-weight: bold;
}

.stat-list .stat-item {
  display: block;
  margin: 0;
  padding: 0 0 8px;
  white-space: nowrap;
}
.stat-list .stat-item .label {
  overflow: hidden;
  text-indent: -9999px;
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/img/icons/unknown.png);

  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.stat-list .stat-item .value {
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  padding-left: 4px;
}

.stat-item.power-grid .label {
  background-image: url(/img/icons/power-output.png);
}
.stat-item.cpu .label {
  background-image: url(/img/icons/cpu.png);
}
.stat-item.signature .label {
  background-image: url(/img/icons/signature-radius.png);
}
.stat-item.agility .label {
  background-image: url(/img/icons/agility.png);
}
.stat-item.velocity .label {
  background-image: url(/img/icons/max-velocity.png);
}
.stat-item.hull .label {
  background-image: url(/img/icons/volume.png);
}
.stat-item.armor .label {
  background-image: url(/img/icons/armor.png);
}
.stat-item.shield .label {
  background-image: url(/img/icons/shield-capacity.png);
}
.stat-item.em-resistance .label {
  background-image: url(/img/icons/em-resist.png);
}
.stat-item.explosive-resistance .label {
  background-image: url(/img/icons/explosive-resist.png);
}
.stat-item.kinetic-resistance .label {
  background-image: url(/img/icons/kinetic-resist.png);
}
.stat-item.thermal-resistance .label {
  background-image: url(/img/icons/thermal-resist.png);
}

.stat-item.high-slots .label {
  background-image: url(/img/icons/slots/64-high.png);
}
.stat-item.medium-slots .label {
   background-image: url(/img/icons/slots/64-med.png);
 }
.stat-item.low-slots .label {
  background-image: url(/img/icons/slots/64-low.png);
}

.stat-item.turrets .label {
  background-image: url(/img/icons/hardpoints-turret.png);
}
.stat-item.launchers .label {
  background-image: url(/img/icons/hardpoints-launcher.png);
}
.stat-item.drones .label {
  background-image: url(/img/icons/drone.png);
}


.inline-stat-list::after {
    display: block;
    content: "";
    clear: both;
    border-bottom: 1px solid #ddddc5;
}
.inline-stat-list .stat-item {
    float: left; width: 33%;
}

.columns::after {
    padding-top: 4px;
    display: block;
    content: "";
    clear: both;
    border-bottom: 1px solid #ddddc5;
}
.columns .column {
    float: left;
}
.columns.thirds .column {
    width: 33%;
}

.columns.thirds .column:nth-child(2n) {
    background: rgba(255,255,255,0.1);
}


.ship-search {
  margin: 50px auto 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 150%;
  background-color: #444448;
  padding: 12px;
  border: 0;
}

.ship-search .ship-search-keyword {
  background: #555559;
  color: #ddddc5;
  display: inline-block;
  padding: 0 6px;
  line-height: 1.5;
  cursor: pointer;
  vertical-align: middle;
}


.ship-search .ship-search-keyword:focus,
.ship-search .ship-search-keyword:hover {
  outline: 2px solid #ddddc5;
}

.ship-search-input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: 1.5;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.ship-search-input:focus {
  outline: none;
}

.ship-search-input::-webkit-input-placeholder {
  color: #ddddc5;
}