<!doctype html>
<html>
    <head>
        <title>Compare Ship</title>
        <link id="main-styles" rel="stylesheet" href="/css/ship-comparator.css" />
    </head>
    <body class="compare-ship">
        
        <div class="compare-columns">
            <% ships.forEach(function(ship, i) { %>
            <%    include partials/ship.html %>
            <% if(i%4 == 3) { %>
            <div style="clear:both; border-top: 1px solid #ddddc5; padding: 0 0 10px"></div>
            <% } %>
            <% }) %>
        </div>
        
        
        <script src="capacitor.js" type="text/javascript"></script>
        <script src="hpPool.js" type="text/javascript"></script>
        <script src="skill.js" type="text/javascript"></script>
        <script src="ship.js" type="text/javascript"></script>
        
        <script src="js/ship-comparator.js" type="text/javascript"></script>
    </body>
</html>
