<!doctype html>
<html>
    <head>
        <title>Compare Ship</title>
        <link id="main-styles" rel="stylesheet" href="/css/ship-comparator.css" />
    </head>
    <body class="compare-ship">
        
        <div style="cursor: pointer; padding: 12px; border: 1px solid white; margin: 12px 0; clear: both" class="rebuild-table">Rebuild table client side</div>
        
        <div class="compare-columns">
            <% this.ships.forEach(function(ship, i) { %>
                <%== this.include('/views/shared/ship', ship) %>
            <% }, this) %>
        </div>
        
        
        <script src="capacitor.js"></script>
        <script src="hpPool.js"></script>
        <script src="skill.js"></script>
        <script src="ship.js"></script>
        <script src="micro-template.js"></script>
        <script src="templates.js"></script>

        <script>
        (function(NS) {
            
            NS.model = <%== JSON.stringify(this, null, '\t') %>
            
        }( window.esc || (window.esc = {}) ));
        </script>
        <script src="js/ship-comparator.js"></script>

    </body>
</html>
