#layout {
    max-width: 60rem;
    margin: 3rem auto;
}

.ship .ship-name {
    text-align: right;
    margin-right: 1rem;
    padding: 0;
}

.ship img {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    margin: 1rem;
}