<!doctype html>
<html>
    <head>
        <title>${ this.page.title || "Compare Ships" }</title>
        <link id="main-styles" rel="stylesheet" href="/css/ship-comparator.css" />
        <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
        <script>
            ${{this.javascript}}
        </script>
        <script>
            ESC_MODEL = ${{JSON.stringify(this.page)}};
        </script>
    </head>
    <body>
        <div id="eve-ship-comparator">
            <div id="application-body">
                <div class="${this.page.view}-view">
                ${{ $i(this.page.template, this.page.model) }}
            </div>
        </div>

        <script src="/js/templates.js"></script>
        <script src="/js/comparator.js"></script>
    </body>
</html>