<!doctype html>
<html>
    <head>
        <title><%= this.page.title || "Compare Ships" %></title>
        <link id="main-styles" rel="stylesheet" href="/css/ship-comparator.css" />
    </head>
    <body id="eve-ship-comparator" class="yui3-skin-night yui3-app">
        <%== $(this.page.template, this.page.model) %>
        
        <script>
        // ESC_CONFIG
        <%== this.javascript %>
        </script>
        <script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/comparator.js"></script>
    </body>
</html>