<!doctype html>
<html>
    <head>
        <title>Eve Ship Comparator</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
        <link rel="stylesheet" href="/css/ship.css" />
    </head>
    <body>
        <div id="application">
            ${{body}}
        </div>
        
        <script src="/shared/promise.js"></script>
        <script src="/shared/utils.js"></script>
        <script src="/shared/list-promise.js"></script>
        <script src="/js/ajax-promise.js"></script>
    </body>
</html>
