
html {
    font-family: Helvetica;
    background-color: #222225;
    color: #ddddc5;
    
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.compare-columns {
    font-size: 13px;
}

.compare-columns .ship {
    float: left;
    width: 25%;
}

.ship {
    box-sizing: border-box;
    padding: 0 5px;
}

.ship .ship-masthead {
    position: relative;
}

.ship .ship-image {
    display: block;
    width: 100%;
    height: auto;
}

.ship .ship-name {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0;
    text-shadow: 0 -1px #000;
}
