
html {
    font-family: Helvetica;
    background-color: #222225;
    color: #ddddc5;
    
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.compare-columns {
    font-size: 13px;
}



.ship {
    box-sizing: border-box;
    
    display: -webkit-flex;
    -webkit-flex-direction: row;
    padding: 4px 0;
}

.ship > div {
    -webkit-flex: 1;
}

.ship .ship-header {
    white-space: nowrap;
}

.ship .ship-header .ship-image {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: auto;
    
    border-radius: 4px;
}

.ship .ship-header .ship-name {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 10px;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 30px;
    
    border-radius: 0 0 4px 4px;
}

.ship .ship-hitpoints {
    padding: 0 10px;
    font-size: 18px;
}

.ship .ship-hitpoints .ehp {
    font-weight: bold;
}

.ship .ship-hitpoints .resistances {

}