
<div class="ship-card" id="ship-card-${this.ship.id}">
    <div class="ship-icon meta-${this.ship.meta} tech-${this.ship.techLevel} race-${this.ship.race.toLowerCase()}">
        <img src="http://s3.amazonaws.com/eve-ship-comparator/img/ships/${this.ship.id}.png" />
        <h3 class="ship-name">${this.ship.name}</h3>
    </div>
    <ul class="ship-primary-stats stat-list inline-stat-list">
        ${{ $h.shipStatItem({ label: 'Power Grid',       className: 'power-grid', value: this.ship.powerGrid }) }}
        ${{ $h.shipStatItem({ label: 'CPU',              className: 'cpu',        value: this.ship.cpu       }) }}
        ${{ $h.shipStatItem({ label: 'Signature Radius', className: 'signature',  value: this.ship.signature }) }}
        ${{ $h.shipStatItem({ label: 'Agility',          className: 'agility',    value: this.ship.agility   }) }}
        ${{ $h.shipStatItem({ label: 'Velocity',         className: 'velocity',   value: this.ship.velocity  }) }}
    </ul>
    <div class="columns thirds">
        <div class="column">
            <ul class="stat-list">
                ${{ $h.shipStatItem({ label: 'Hull HP',              className: 'hull',                 value: this.useEhp ? this.ship.hull.ehp : this.ship.hull.hp })}}
                ${{ $h.shipStatItem({ label: 'EM Resistance',        className: 'em-resistance',        value: this.ship.hull.emResistance,        percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Explosive Resistance', className: 'explosive-resistance', value: this.ship.hull.explosiveResistance, percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Kinetic Resistance',   className: 'kinetic-resistance',   value: this.ship.hull.kineticResistance,   percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Thermal Resistance',   className: 'thermal-resistance',   value: this.ship.hull.thermalResistance,   percent: true }) }}
            </ul>
        </div>
        <div class="column">
            <ul class="stat-list">
                ${{ $h.shipStatItem({ label: 'Armor HP',             className: 'armor',                value: this.useEhp ? this.ship.armor.ehp : this.ship.armor.hp  })}}
                ${{ $h.shipStatItem({ label: 'EM Resistance',        className: 'em-resistance',        value: this.ship.armor.emResistance,        percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Explosive Resistance', className: 'explosive-resistance', value: this.ship.armor.explosiveResistance, percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Kinetic Resistance',   className: 'kinetic-resistance',   value: this.ship.armor.kineticResistance,   percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Thermal Resistance',   className: 'thermal-resistance',   value: this.ship.armor.thermalResistance,   percent: true }) }}
            </ul>
        </div>
        <div class="column">
            <ul class="stat-list">
                ${{ $h.shipStatItem({ label: 'Shield HP',            className: 'shield',               value: this.useEhp ? this.ship.shield.ehp : this.ship.shield.hp })}}
                ${{ $h.shipStatItem({ label: 'EM Resistance',        className: 'em-resistance',        value: this.ship.shield.emResistance,        percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Explosive Resistance', className: 'explosive-resistance', value: this.ship.shield.explosiveResistance, percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Kinetic Resistance',   className: 'kinetic-resistance',   value: this.ship.shield.kineticResistance,   percent: true }) }}
                ${{ $h.shipStatItem({ label: 'Thermal Resistance',   className: 'thermal-resistance',   value: this.ship.shield.thermalResistance,   percent: true }) }}
            </ul>
        </div>
    </div>
    <ul class="ship-slots stat-list inline-stat-list">
        <li class="high-slots stat-item">
            <span class="label">High Slots</span>
            <span class="value">${this.ship.slots.high}</span>
        </li>
        <li class="medium-slots stat-item">
            <span class="label">Medium Slots</span>
            <span class="value">${this.ship.slots.medium}</span>
        </li>
        <li class="low-slots stat-item">
            <span class="label">Low Slots</span>
            <span class="value">${this.ship.slots.low}</span>
        </li>

        <li class="turrets stat-item">
            <span class="label">Turrets</span>
            <span class="value">${this.ship.slots.turrets}</span>
        </li>
        <li class="launchers stat-item">
            <span class="label">Launchers</span>
            <span class="value">${this.ship.slots.launchers}</span>
        </li>
        <li class="drones stat-item">
            <span class="label">Drones</span>
            <span class="value">${this.ship.drones.bandwidth} / ${this.ship.drones.capacity}</span>
        </li>
    </ul>
    <div class="description ${this.showDescription ? 'show' : 'hide'}">
        ${{this.ship.description}}
    </div>
</div>